<!DOCTYPE html>
<html lang="ja">
<head>
     <title>登録ページ</title>
    <%- include("./head");%>
</head>
<body>
    <%- include("./header");%>
    <main>
        <div>
            <h1>ユーザー登録</h1>
            <div class="user-create"> 
                <form action="/account/create" method="POST">
                    <label for="name">名前</label>
                    <input type="text" name="name" required>
                    <label for="password">パスワード</label>
                    <input type="text" name="password" required>
                    <label for="image">画像</label>
                    <input type="text" name="image" required>

                    <br/>
                    <button type="submit">登録</button>
                </form>
            </div>
        </div>
    </main>
</body>
<%- include("./footer");%>
</html>